@(resetForm: Form[controllers.account.Reset.ResetForm], token: String)

@import bootstrap3._

@scripts = {
	<script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}

@index {
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
    	<h3>@Messages("signup.reset.password")</h3>

		@Messages("resetpassword.new.password")
	
		@helper.form(controllers.account.routes.Reset.runReset(token)) {
	        
	   	<!-- Passwort zurücksetzen -->
		@input(resetForm("inputPassword"),
			icon = "glyphicon-envelope",
			label = Messages("start.login.email"),
			typ = "password",
			value = "",
			placeholder = Messages("start.login.email"))
	                
	    	<h6>@Messages("signup.generate.password")</h6>
	      	<input type="text" name="passwordGenerated" class="form-control">
	
	       	<input type="submit" class="btn btn-primary" value="@Messages("validate")">
	     	<a href="@routes.Application.showStart(EventController.event.shortcode)" class="btn btn-default">@Messages("goback")</a>
	   	}
	</div>
</div>
}